body {
  background-color: black;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box {
  width: 600px;
  height: 700px;
  margin: 0 auto;
  perspective-origin: center;
  transform: perspective(60px) rotateX(8deg);
  /* position: relative; */
}
.box_item {
  width: 600px;
  height: 700px;
  color: #ede72d;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  margin: 0 auto;
  transform: translateY(50%);
  animation-name: star-wars;
  animation-duration: 30s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
h2,
h3 {
  text-align: center;
  padding-bottom: 20px;
}
p {
  padding-bottom: 20px;
}
@keyframes star-wars {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 130%;
  }
}
