body {
  font-family: "Montserrat", sans-serif;
  width: 1280px;
  margin: 0 auto;
}
.list {
  display: flex;
  width: 620px;
  height: 78px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.list_item {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  font-weight: bold;
}

a {
  color: rgba(255, 0, 0, 1);
}

.title {
  text-align: center;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  color: #373737;
  margin: 48px 0 38px 0;
  text-transform: uppercase;
  font-weight: bold;
}
.first_main_article,
.second_main_article {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #373737;
}
.first_main_article {
  padding: 0px 67.5px 28px 67.5px;
}
.second_main_article {
  padding: 0px 67.5px 66px 67.5px;
}

button {
  display: block;
  padding: 18px 43.5px 17px 42.5px;
  margin: 0 auto;
  background: #ff0000;
  border-radius: 4px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 42px;
  font-weight: bold;
}
.footer {
  height: 108px;
}
.footer p {
  text-align: right;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
  padding: 40px 105px 29px 0;
  font-weight: bold;
}
