body {
  background-image: url(../img/Фон\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  width: 322px;
  margin: 0 auto;
}
.header {
  height: 60px;
  background-color: #00000066;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logotype {
  margin-left: 79px;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: #fff;
}
.header .logotype:hover {
  color: #01813f;
}
.header a {
  margin-right: 25px;
}
a svg:hover path {
  fill: #01813f;
}
.second_half_header {
  display: flex;
  align-content: center;
}
.welcome,
.welcome a {
  display: inline-block;
  line-height: 14px;
  color: #fff;
  margin-right: 0;
}
.welcome {
  margin-right: 79px;
}
.welcome:before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 1px;
  background: #fff;
  margin-right: 27px;
  opacity: 0.5;
  position: relative;
  top: calc(50% - 10px);
}
.welcome a:hover {
  color: #01813f;
}
.main_block {
  display: flex;
  height: calc(100vh - 60px);
  justify-content: center;
  align-items: center;
}
.block {
  width: 444px;
  height: 584px;
  background-color: #fff;
}
.block .sign_up {
  font-size: 20px;
  line-height: 20px;
  margin-top: 31px;
  display: inline-block;
}
.block .sign_up::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  margin-right: 43px;
}
.block .log_in {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  margin: 33px 0 0 216px;
}
.block .log_in:hover {
  text-decoration: underline;
  color: #01813f;
}
.fa-facebook-f,
.fa-google-plus-g {
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  border-radius: 3px;
  padding: 12px 22px 12px 17px;
}
.fa-facebook-f {
  background-color: #305db8;
  margin: 15px 0 0 60px;
}
.fa-google-plus-g {
  background-color: #df4a32;
  margin-left: 20px;
  padding-right: 27px;
}
.fa-facebook-f:hover {
  background-color: #022263;
}
.fa-google-plus-g:hover {
  background-color: #ab1f09;
}
.facebook,
.google {
  display: inline-block;
  position: relative;
  padding-left: 38px;
}
.facebook::before,
.google::before {
  position: absolute;
  top: calc(50% - 14px);
  content: "";
  display: inline-block;
  height: 28px;
  width: 1px;
  background: #0a162f;
  opacity: 0.1;
  left: 18px;
}
.google::before {
  left: 7px;
}
.alternative {
  color: #848484;
  margin: 31px 0 12px 0;
}
.alternative::before,
.alternative::after {
  content: "";
  display: inline-block;
  width: 150px;
  height: 1px;
  background-color: #f2f2f2;
  margin-bottom: 3px;
}
.first_name,
.second_name,
.email,
.choose_password,
.confirm_password {
  display: block;
  outline: 0;
  width: 322px;
  height: 44px;
  box-shadow: 0px 3px 8px 0px #00000036;
  margin-bottom: 16px;
  padding-left: 19px;
  border-radius: 3px;
  cursor: pointer;
}
input::placeholder {
  color: #bebebe;
}
.first_name:focus,
.second_name:focus,
.email:focus,
.choose_password:focus,
.confirm_password:focus {
  box-shadow: 0px 3px 8px 0px #00000080;
}
.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox span::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.checkbox input:checked + span::before {
  background-image: url(../img/checked.svg);
}
.checkbox span {
  display: inline-flex;
  align-items: center;
  line-height: 14px;
  color: #434343;
}
.checkbox span a {
  padding-left: 5px;
  color: #3cb878;
}
.checkbox span a:hover {
  color: #01813f;
  text-decoration: underline;
}
.create_account {
  width: 324px;
  height: 46px;
  background-color: #3cb878cc;
  border-radius: 3px;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  margin-top: 20px;
}
.create_account:hover {
  background-color: #01813f;
}
