* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a:focus,
a:active {
  outline: none;
}


footer,
header {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}


h3,
h4 {
  font-size: inherit;
  font-weight: 400;
}

.menu-btn {
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 20px;
  margin-left: auto;
  background-color: black;
}

.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: white;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: white;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-16px);
}

.menu-btn__burger::after {
  transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  background: white;
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background: white;
}

.header {
  position: relative;
}

.list {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.list .list__item {
  padding: 50px 0px;
  color: #4e4e4e;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.main .intro {
  width: 100%;
}

.posts {
  width: 100%;
}
.posts .posts__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #4e4e4e;
  text-transform: uppercase;
  padding: 66px 0 24px 0;
}

.posts__body {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  gap: 32px;
  margin-bottom: 50px;
}
.posts__body .posts__item img {
  float: left;
  margin-right: 20px;
}
.posts__body .posts__item h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #4e4e4e;
}
.posts__body .posts__item .posts__comments {
  font-size: 12px;
  line-height: 20px;
  color: #7c7c7c;
}
.posts__body .posts__item p {
  font-size: 14px;
  line-height: 26px;
  color: #5c5c5c;
}

.photos {
  margin-bottom: 50px;
}
.photos .photos__body {
  display: flex;
  justify-content: space-between;
}
.photos .photos__body img {
  width: 25vw;
}

.photos__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 116px 0px 24px 0px;
}
.photos__wrapper .photos__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #4e4e4e;
  text-transform: uppercase;
}
.photos__wrapper .photos__link {
  font-weight: bold;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4e4e4e;
}

.footer {
  display: block;
  background-color: #000;
  width: 100%;
}

.footer__wrapper {
  text-align: center;
  color: #fefefe;
}
.footer__wrapper .footer__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  padding: 66px 0 22px 0;
}
.footer__wrapper .footer__text {
  font-size: 16px;
  line-height: 28px;
  color: #b9b9b9;
  padding-bottom: 37px;
}
.footer__wrapper .footer__media {
  padding-bottom: 34px;
}
.footer__wrapper .footer__contact {
  font-size: 16px;
  line-height: 26px;
  color: #b9b9b9;
  padding-bottom: 70px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.menu__burger.open {
  display: block;
}

.menu__burger {
  display: none;
  position: absolute;
  right: 0;
}
.menu__burger .list_burger {
  margin: 0;
  padding: 0;
  z-index: 2;
  background-color: #f5f5f5;
}
.menu__burger .list_burger li {
  text-transform: uppercase;
  color: #4e4e4e;
  padding: 15px 60px 15px 15px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .posts__body {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .list {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .menu-btn {
    display: none;
  }

  .menu__burger {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .posts__body {
    display: flex;
    flex-direction: column;
  }
  .posts__body .posts__item {
    display: flex;
    flex-direction: column;
  }
  .posts__body .posts__item img {
    width: 60%;
  }
  .posts__body .posts__item .posts__message {
    display: none;
  }
}