.products {
  &__product-item {
    display: flex;
    flex-direction: column;
    flex: 0 1 25%;
  }
  &__product-item-img {
    max-width: 300px;
    height: 180px;
    align-self: center;
  }
  &__product-item-name,
  &__product-item-price,
  &__product-item-color {
    padding: 0 0 0 20px;
    line-height: 2;
  }
}
