body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.nav_bar {
  background-color: #313131;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  align-items: center;
  height: 70px;
}
.nav_bar_item span {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
}
.nav_bar_item_list {
  display: flex;
}
.nav_bar_item_list li a {
  color: #fff;
  margin-right: 35px;
}
.nav_bar_item_list li a:hover {
  color: #14b9d5;
}
.header_icon {
  padding: 22px 27px 21px 27px;
}
.search_icon {
  background-color: #000000;
  padding: 27px 25px 26px 26px;
}
.header_background {
  background-image: url(../img/header-background.png);
  background-position: center;
  width: 100%;
  height: 369px;
}
.header_background_top {
  padding-top: 164px;
}
.header_background_title {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
}
.header_background_button {
  display: flex;
  justify-content: center;
  margin-top: 44px;
}
.header_background_button button {
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.header_background_left_button {
  padding: 16px 19px 17px;
  background-color: #89ca62;
  margin-right: 10px;
}
.header_background_right_button {
  padding: 16px 29px 17px 30px;
  background-color: #14b9d5;
  margin-left: 10px;
}
/*              */
.popular_posts {
  background-color: #f2f2f2;
  padding-bottom: 72px;
}
.popular_posts_title {
  text-align: center;
  padding: 49px 0 52px 0;
  color: #18b4cf;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
}
.popular_posts_description {
  display: flex;
  flex-flow: column wrap;
  max-height: 825px;
  gap: 30px;
}
.popular_posts_description_item {
  height: 100%;
}
.popular_posts_description_item p {
  background-color: #fff;
  height: 61px;
  width: 370px;
  text-align: center;
  padding-top: 20px;
  color: #353a3d;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}
.popular_clients {
  width: 100%;
  height: 588px;
  background-image: url(../img/popular_clients.png);
  background-position: center;
}
.popular_clients_title {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  padding: 108px 0 87px 0;
}
.box::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 3px;
  background-color: #18b4cf;
}
.popular_clients_img {
  display: grid;
  margin-top: 107px;
  grid-template: 1fr / repeat(4, 1fr);
  justify-items: center;
}
.top_rated_title,
.hot_news_title {
  text-align: center;
  color: #18b4cf;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  padding: 49px 0 52px 0;
}
.top_rated {
  display: grid;
  grid-template: 1fr / repeat(7, 1fr);
}
.top_rated_item img {
  width: 100%;
  transition: 0.2s;
}
.top_rated img:hover {
  transform: scale(1.1);
}
.hot_news_article {
  display: grid;
  gap: 45px 60px;
  grid-template: 259px repeat(2, 418px) 259px / repeat(4, 1fr);
  margin-bottom: 77px;
}
.hot_news_article div {
  background: #f9f7f7;
}
.hot_news_list_item1,
.hot_news_list_item8 {
  grid-column: span 3;
}
.hot_news_list_item1 img,
.hot_news_list_item8 img {
  float: left;
}
.hot_news_list_item3,
.hot_news_list_item4,
.hot_news_list_item5,
.hot_news_list_item6 {
  grid-column: span 2;
}
.hot_news_list_item3 h3,
.hot_news_list_item4 h3,
.hot_news_list_item5 h3,
.hot_news_list_item6 h3 {
  padding: 14px 27px 0 0;
}
.hot_news_article h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: #353a3d;
}
.hot_news_article p {
  font-weight: 600;
  line-height: 21px;
  text-align: right;
  color: #5b6469;
  padding: 15px 20px 0 0;
}
.hot_news_list_item1 h3,
.hot_news_list_item8 h3 {
  padding: 40px 25px 0 0;
}
.hot_news_list_item2 h3,
.hot_news_list_item7 h3 {
  text-align: center;
  padding-top: 10px;
}
footer {
  background-color: #000;
}
.footer {
  display: grid;
  height: 80px;
  grid-template: 1fr / 1fr 1fr;
  align-items: center;
}
.footer div {
  font-size: 13px;
  line-height: 13px;
}
.footer img {
  float: right;
}
