.btn {
  position: absolute;
  width: 100px;
  right: calc(50% - 50px);
  top: 5%;
}
.table {
  position: absolute;
  top: calc(50% - 232px);
  right: calc(50% - 232px);
  border: 1px solid black;
}
.table-row {
}
.table-item {
  height: 40px;
  width: 40px;
  border: 1px solid black;
}
