body {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.container {
  width: 1025px;
  margin: 0 auto;
}
.header {
  margin-top: 46px;
  position: relative;
  margin-bottom: 17px;
}
.icon {
  display: inline-block;
}
.icon_home {
  display: inline-block;
  width: 53px;
  height: 47px;
  background-image: url(../img/icon/logo\ 3.png);
}
.icon h1 {
  display: inline-block;
  width: 100px;
  color: #fff;
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  padding-left: 8px;
}
.icon h1 span {
  font-size: 18px;
  line-height: 18px;
}
.icon a:hover .icon_home {
  width: 53px;
  height: 47px;
  background-image: url(../img/icon/logo\ 2.png);
}
.icon a:hover h1,
#mail:hover,
#number:hover {
  color: #f26522;
}
.header a {
  color: #fff;
  font-size: 18px;
  line-height: 18px;
}
.header #mail {
  position: absolute;
  top: 0;
  right: 0;
}
.header #number {
  position: absolute;
  right: 0;
  bottom: 0;
}
.article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 60px;
}
.article_page {
  position: relative;
  text-align: center;
  overflow: hidden;
}
.article_page img {
  width: 300px;
}
.text {
  position: relative;
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  margin: 20px 0 37px 0;
}
.article_page:hover .text {
  color: #f26522;
}
.orange_block {
  position: absolute;
  width: 300px;
  height: 55px;
  background-color: #f26522;
  display: none;
  top: 165px;
  overflow: hidden;
}
.article_page:hover .orange_block {
  display: block;
}
.orange_block_item_1,
.orange_block_item_2,
.orange_block_item_3 {
  position: absolute;
  color: #fff;
}
.orange_block_item_1 {
  top: 0;
  left: 0;
  font-size: 10px;
  line-height: 10px;
  padding: 7px 0 0 16px;
}
.orange_block_item_2 {
  left: 0;
  bottom: 0;
  font-size: 20px;
  line-height: 20px;
  padding: 0 0 12px 16px;
}
.orange_block_item_3 {
  right: 0;
  bottom: 0;
  font-size: 14px;
  line-height: 14px;
  padding: 0 26px 12px 0;
}
.orange_block_item_3::after {
  content: url(../img/icon/Vector\ 1.png);
  padding-left: 16px;
}
.footer p {
  padding-top: 12px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
}
