.menu__burger.open {
  display: block;
}
.menu__burger {
  display: none;
  position: absolute;
  right: 0;
  .list_burger {
    margin: 0;
    padding: 0;
    z-index: 2;
    background-color: #f5f5f5;
  }
  .list_burger li {
    text-transform: uppercase;
    color: $font-color;
    padding: 15px 60px 15px 15px;
  }
}
.menu-btn {
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 20px;
  margin-left: auto;

  background-color: black;
}

.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: white;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: white;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-16px);
}

.menu-btn__burger::after {
  transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  background: white;
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background: white;
}
