.footer {
  display: block;
  background-color: #000;
  width: 100%;
}
.footer__wrapper {
  text-align: center;
  color: #fefefe;
  .footer__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    padding: 66px 0 22px 0;
  }
  .footer__text {
    font-size: 16px;
    line-height: 28px;
    color: #b9b9b9;
    padding-bottom: 37px;
  }
  .footer__media {
    padding-bottom: 34px;
  }
  .footer__contact {
    font-size: 16px;
    line-height: 26px;
    color: #b9b9b9;
    padding-bottom: 70px;
  }
}
