.header {
  position: relative;
}
.list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  .list__item {
    padding: 50px 0px;
    color: $font-color;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
  }
}
