.main .intro {
  width: 100%;
}
.posts {
  width: 100%;
  .posts__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: $font-color;
    text-transform: uppercase;
    padding: 66px 0 24px 0;
  }
}
.posts__body {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  gap: 32px;
  margin-bottom: 50px;
  .posts__item img {
    float: left;
    margin-right: 20px;
  }
  .posts__item h4 {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: $font-color;
  }
  .posts__item {
    .posts__comments {
      font-size: 12px;
      line-height: 20px;
      color: #7c7c7c;
    }
    p {
      font-size: 14px;
      line-height: 26px;
      color: #5c5c5c;
    }
  }
}
.photos {
  margin-bottom: 50px;

  .photos__body {
    display: flex;
    justify-content: space-between;
  }
  .photos__body img {
    width: calc(100vw / 4);
  }
}
.photos__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 116px 0px 24px 0px;
  .photos__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: $font-color;
    text-transform: uppercase;
  }

  .photos__link {
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    color: $font-color;
  }
}
