@import "./nullstyle.scss";
@import "./burger_menu.scss";
@import "./variables.scss";
@import "./header.scss";
@import "./main.scss";
@import "./footer.scss";

.container {
  max-width: 1170px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .posts__body {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .list {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .menu-btn {
    display: none;
  }
  .menu__burger {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .posts__body {
    display: flex;
    flex-direction: column;
    .posts__item {
      display: flex;
      flex-direction: column;
      img {
        width: 60%;
      }
      .posts__message {
        display: none;
      }
    }
  }
}
