* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.card-container {
  flex: 0 1 25%;
  padding: 20px;
}
.card-header {
  display: flex;
  flex-wrap: wrap;
}
.card-name {
  font-weight: 700;
  font-size: 20px;
  flex: 0 1 90%;
  text-decoration: none;
  color: #007bff;
}
.card-email {
  font-style: italic;
  padding-bottom: 10px;
}
.btn-del {
  cursor: pointer;
  flex: 0 1 10%;
}

.card-title {
  padding-bottom: 10px;
}
.card-text {
}
