body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
.hello_header {
  display: inline-block;
  font-size: 80px;
  line-height: 94px;
  color: #000000;
  padding: 63px 0 38px 0;
  text-align: left;
}
.hello_header span {
  color: deepskyblue;
}
.navigation {
  background-color: #35444f;
  margin-bottom: 48px;
}
.navigation_list {
  height: 72px;
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 28px;
}
.navigation_item_list {
  border-right: 1px solid white;
}
.navigation_item_list a {
  display: block;
  padding: 26px 35px 19px 37px;
  color: #fff;
}
.navigation_item_list:hover {
  background-color: #222f3a;
}
.navigation_item_list:first-child {
  border-left: 1px solid white;
}
main .container {
  display: flex;
  justify-content: space-between;
}
.main_list {
  width: 344px;
  font-size: 27px;
  line-height: 27px;
  border: 1px solid #000000;
}
.main_list_item a {
  display: block;
  padding: 26px 82px 26px 44px;
  color: #495863;
}
.main_list_item:hover {
  background-color: #dbdbdb;
  padding-left: 10px;
}
.main_list_item a:hover {
  color: #35444f;
}
.article {
  width: 885px;
}
.block-image {
  display: flex;
  justify-content: center;
  height: 529px;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 37px;
}
.block-image img {
  transition: 1s;
}
.block-image img:hover {
  transform: scale(1.2);
}
.main_text {
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin-bottom: 34px;
}
.footer {
  margin: 20px 0 30px 0;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 21px 40px;
  background: rgba(99, 105, 110, 0.48);
}
.footer_list {
  display: flex;
  font-size: 28px;
  line-height: 28px;
}
.footer_list_item {
  padding-right: 20px;
}
.footer_list_item a {
  color: #0c1927;
}
.text {
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}
.footer_list_item a:hover {
  color: #51ccfd;
  padding-bottom: 5px;
  border-bottom: 1px solid #51ccfd;
}
